*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Noticia Text';
    src: url('../fonts/NoticiaText-Italic.woff2') format('woff2'), url('../fonts/Italic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mplus 1p';
    src: url('../fonts/MPLUS1p-Medium.woff2') format('woff2'), url('../fonts/Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Mplus 1p';
    src: url('../fonts/MPLUS1p-Black.woff2') format('woff2'), url('../fonts/MPLUS1p-Black.woff') format('woff');
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'Mplus 1p';
    src: url('../fonts/MPLUS1p-Bold.woff2') format('woff2'), url('../fonts/MPLUS1p-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Mplus 1p';
    src: url('../fonts/MPLUS1p-ExtraBold.woff2') format('woff2'), url('../fonts/MPLUS1p-ExtraBold.woff') format('woff');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Mplus 1p';
    src: url('../fonts/MPLUS1p-Light.woff2') format('woff2'), url('../fonts/MPLUS1p-Light.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mplus 1p';
    src: url('../fonts/MPLUS1p-Regular.woff2') format('woff2'), url('../fonts/Regular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    color: white;
    font-family: 'Mplus 1p';
}

li {
    list-style-type: none;
}

.header {
    background-image: url(../../public/images/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.header__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0 30px;
    padding-bottom: 144px;
}

.logo {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 43px;
    letter-spacing: 2px;
    margin-right: 129px;
}

.menu__list {
    display: flex;
}

.menu__item {
    margin-right: 30px;
}

.menu__link {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 2px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    padding: 6px;
}

.menu__link:hover {
    background-size: 100% 2px;
    color: #F61067;
}

.menu__link:focus {
    background-size: 100% 2px;
}

.login {
    display: flex;
    justify-content: space-between;
}

.login__img {
    background-color: transparent;
    padding-right: 18px;
}

.phone {
    font-family: 'Mplus 1p';
    font-style: normal;
    font-weight: 800;
    font-size: 14.4px;
    line-height: 30px;
    letter-spacing: 2px;
}

.header__content {
    max-width: 852px;
    margin-bottom: 70px;
}

.header__subtext {
    font-style: normal;
    font-weight: 800;
    font-size: 14.4px;
    line-height: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-bottom: 8px;
}

.header__title {
    width: 900px;
    font-weight: 900;
    font-size: 99px;
    line-height: 118px;
}

.header__title span {
    color: #F61067;
}

.scroll {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 340px;
    margin-left: 1000px;
    margin-top: -300px;
    font-family: 'Mplus 1p';
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 26px;
    letter-spacing: 6px;
    text-transform: uppercase;
    transform: rotate(90deg);
}

.scroll__img {
    background-color: transparent;
    transform: rotate(270deg);
    padding-top: 80px;
}

.subheader {
    width: 833px;
    height: 108px;
    border: 1px solid white;
    box-sizing: border-box;
    margin-top: 140px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 126px;
    padding-left: 160px;
    margin-left: -180px;
}

.subheader p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
}

.subheader__img {
    background-color: transparent;
    padding: 30px;
    padding-right: 40px;
}


/* ------Main Content------ */

.about__item {
    display: flex;
    flex-direction: row-reverse;
}

// .about__item img {
//     margin-top: 145px;
// }

.about__content-title {
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #F61067;
    margin-top: 180px;
    margin-bottom: 0;
}

.about__content-title2 {
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #F61067;
    margin-top: 180px;
    margin-bottom: 0;
    margin-left: 150px;
}

.about__content-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 67px;
    color: #30233D;
    width: auto;
}

.about__content-subtitle2 {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 67px;
    color: #FCFCFC;
    margin-left: 150px;
}

.about__content-text {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 29px;
    color: #30233D;
    width: 460px;
}

.about__content-text2 {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 29px;
    color: #FCFCFC;
    width: 460px;
    margin-left: 150px;
}

.about__content-subtext {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #776C82;
    margin-right: 160px;
    margin-top: 36px;
}

.about__content-subtext2 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #FCFCFC;
    width: 460px;
    margin-left: 150px;
}


.button-features {
    background-color: #F61067;
    border: none;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    width: 197px;
    cursor: pointer;
    border-radius: 36px;
    margin-top: 55px;
    margin-left: 150px;
}

.button-with-padding{
	padding: 20px;
}

.button p {
    font-family: 'Mplus 1p';
    font-style: normal;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 20px;
    /* display    : flex;
    align-items   : center; */
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FCFCFC;
}

.button-features p {
    font-family: 'Mplus 1p';
    font-style: normal;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 20px;
    /* display    : flex;
    align-items   : center; */
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FCFCFC;
}

.about__content-bg {
    position: absolute;
    width: 999px;
    height: 1008px;
    left: 0px;
    background-image: url(../../public/images/features-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ------Footer------ */

.footer {
    background-color: #150433;
    padding-top: 126px;
    padding-bottom: 200px;
}

.footer__inner {
    display: flex;
    justify-content: flex-start;
}

.footer__text h1 {
    font-family: 'Mplus 1p';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 43px;
    letter-spacing: 2px;
    color: #FCFCFC;
}

.footer__text p {
    font-family: 'Mplus 1p';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FCFCFC;
    width: 170px;
}


/* .footer__text h4 {
   font-family: 'Mplus 1p';
  font-style: normal;
   font-weight: normal;
  font-size: 11.7px;
   line-height: 19px;
  color: #FCFCFC;
  position: absolute;
   width: 290px;
   height: 20px;
   left: 470px;
   top: 3200px;
 }  */

.footer__text h1+p {
    margin-top: 17px;
    margin-right: 130px;
}

.footer__menu {
    list-style: none;
    margin-right: 80px;
    padding: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 12.6px;
    line-height: 28px;
    letter-spacing: 1px;
}

.column h3 {
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 26px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FCFCFC;
    padding-bottom: 30px;
}

.footer__menu-item,
.footer__menu-link {
    margin-bottom: 20px;
}

.footer__menu-social {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    list-style: none;
}

.footer__menu-link:hover {
    transition: color .5s;
    color: #F61067;
}